* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #fff;
    --text-color: #000;
    --main-color: #f0f0f0;
    --second-color: #616060;

    --h1-font: 5.5rem;
    --h2-rem: 3.5rem;
    --p-font: 1rem
}

/* Menu */
header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    box-shadow: 0 1px 6px 0 rgba(32 33 36 / 5%);
    padding: 18px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .6s;
}

.logo {
    width: 125px;
    object-fit: cover;
    align-items: center;
}

.items-navbar {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}

.logo-responsive {
    display: none;
}

.cerrar-icono {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.items-navbar a {
    display: inline-block;
    margin: 0 30px;
    font-weight: 500;
    color: var(--text-color);
    transition: all .6s;
    align-items: center;
    text-decoration: none;
}

.items-navbar a:hover {
    transform: translateY(-4px);
    color: green;
}

.nav-iconos {
    display: flex;
    align-items: center;
}

.nav-iconos a {
    display: inline-block;
    font-size: 22px;
    color: var(--text-color);
    margin: 0 20px;
    transition: all .6s;
    text-decoration: none;
}

.nav-iconos a:hover {
    transform: translateY(-5px) scale(1.1);
    color: green;
}

#menu-icon {
    display: none;
    cursor: pointer;
}

.nav-iconos button {
    background: none;
    border: none;
    font-size: 22px;
    color: var(--text-color);
    margin: 0 20px;
    transition: all .6s;
    cursor: pointer;
}

.nav-iconos button:hover {
    transform: translateY(-5px) scale(1.1);
    color: green;
}

/* Login form */
.home {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.signup_form {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    transition: all 0.5s ease;
}

.login_form {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease;
}

.form_container.active .signup_form {
    display: block;
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

.form_container.active .login_form {
    display: none;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.home.show {
    display: block;
    opacity: 1;
    visibility: visible;
}

.form_container {
    position: absolute;
    max-width: 420px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    z-index: 101;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.home.show .form_container {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.form_container .form {
    position: relative;
    z-index: 1001;
}

.signup_form .form_container {
    display: none;
}

.form_close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #000;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form_close:hover {
    opacity: 1;
    transform: rotate(90deg);
}

.form_container h2 {
    font-size: 22px;
    color: #000;
    text-align: center;
    font-weight: 700;
}

.input_box {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}

.input_box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1.5px solid #979797;
    transition: all .2s ease;
    padding: 0 30px;
    transform: translateY(10px);
    opacity: 0;
    animation: slideIn 0.5s ease forwards;
}

.input_box input:focus {
    border-color: green;
}

.input_box i {
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #979797;
    transition: all 0.3s ease;
}

.input_box i.email,
.input_box i.contraseña,
.input_box i.usuario,
.input_box i.telefono,
.input_box i.direccion {
    left: 0;
}

.input_box input:focus {
    border-color: #1abc9c;
    box-shadow: 0 2px 4px rgba(26, 188, 156, 0.1);
}

.input_box input:focus~i.email,
.input_box input:focus~i.contraseña,
.input_box input:focus~i.usuario,
.input_box input:focus~i.telefono,
.input_box input:focus~i.direccion {
    color: green;
}

.input_box i.ojo {
    right: 0;
    font-size: 18px;
    cursor: pointer;
}

.option_field {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_container a {
    color: green;
    font-size: 12px;
    position: relative;
    transition: all 0.3s ease;
    text-decoration: none;
}

.form_container a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: #1abc9c;
    transition: all 0.3s ease;
}

.form_container a:hover:after {
    width: 100%;
}

.checkbox {
    display: flex;
    white-space: nowrap;
    font-size: 12px;
    column-gap: 8px;
    cursor: pointer;
}

.checkbox input {
    accent-color: green;
}

.checkbox label {
    font-size: 12px;
    color: #000;
    user-select: none;
    cursor: pointer;
}

.btn-login {
    display: flex;
    justify-content: center;
}

.form_container .button {
    background-color: #1abc9c;
    margin-top: 30px;
    width: 40%;
    padding: 10px 0;
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form_container .button:hover {
    background-color: #64b3f4;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(100, 179, 244, 0.4);
}

.login_signup {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

@keyframes slideIn {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* footer */
.pie {
    width: 100%;
    height: 15vh;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    align-content: center;
}

.pie-contenido {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.pie-contenido img {
    width: 15%;
    height: auto;
}


/* Responsive */

@media (max-width: 1610px) {
    header {
        padding: 15px 7%;
    }
}

@media (max-width: 1500px) {
    :root {
        --h1-font: 4.8rem;
        --h2-font: 2.8rem;
        --p-font: 15px;
    }
}

@media (max-width: 1070px) {
    header {
        padding: 10px 4%;
    }

    #menu-icon {
        display: block;
    }

    .items-navbar {
        position: fixed;
        width: 100%;
        height: 100vh;
        padding: 80px 60px;
        top: 0;
        bottom: 0;
        left: 100%;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--bg-color);
        transition: all .50s ease;
    }

    .items-navbar a {
        display: block;
        color: #979797;
        padding: 0;
        margin: 0px 0px 30px 0px;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
    }

    .items-navbar.open {
        left: 0;
    }

    a .logo-responsive {
        width: 30%;
        justify-self: center;
    }

    .items-navbar.open .logo-responsive {
        display: block;
        margin-bottom: 30px;
    }

    .items-navbar.open .cerrar-icono {
        display: block;
    }

    :root {
        --h1-font: 4.5rem;
        --h2-font: 2.6rem;
    }
}

@media(max-width:850px) {
    .pie {
        height: auto;
        padding: 20px 0;
    }

    .pie-contenido {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .pie-contenido img {
        width: 30%;
    }
}

@media(max-width: 530px) {
    :root {
        --h1-font: 3.5rem;
        --h2-font: 2.2rem;
    }

    .nav-iconos a {
        margin-right: 7px;
    }

    .pie-contenido {
        padding: 15px;
    }

    .pie-contenido img {
        width: 40%;
        max-width: 200px;
    }

    .pie-contenido p {
        font-size: 0.9rem;
        padding: 0;
        text-align: center;
        width: 100%;
    }
}